{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "~controllers": "./src/controllers",
          "~helpers": "./src/helpers",
          "~routes": "./src/routes"
        }
      }
    ]
  ]
}
